/*Fuentes*/
@font-face {
    font-family: "nevis";
    src: url(../assets/fonts/nevis.eot);
    src: url(../assets/fonts/nevis.eot?#iefix) format('embedded-opentype'),
    url(../assets/fonts/nevis.woff) format('woff'),
    url(../assets/fonts/nevis.ttf) format('truetype'),
    url(../assets/fonts/nevis.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "fjalla";
    src: url(../assets/fonts/FjallaOne-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url(../assets/fonts/websymbols-regular-webfont.svg#WebSymbolRegular),
    url(../assets/fonts/websymbols-regular-webfont.woff) format('woff'),
    url(../assets/fonts/websymbols-regular-webfont.ttf) format('truetype'),
    url(../assets/fonts/websymbols-regular-webfont.eot) format('eot'),
    url(../assets/fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


/*Estilos generales*/
* {
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../assets/img/paven.png);
    background-repeat: repeat;
}

/*Formularios -> generico*/
input[type ="text"],
input[type ="password"]{
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    color: gray;
    padding: 2px 1px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border: 1px solid #70b231;
    color: black;
}

input[type="submit"]{
    border-radius: 3px;
    background-color: #70b231;
    border: 1px solid green;
    cursor: pointer;
    color: white;
    padding: 3px 10px;
}

input[type="submit"]:hover{
    box-shadow: 0px 0px 2px gray;
}

input[type="submit"]:active{
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 3px #ccc;
}

/*Enlaces -> generico*/
a {
    color: #529125;
    text-decoration: none;
}

a:visited {
    color: #529125;
}

a:hover {
    color: #285616;
}

/*Colores*/
.red {
    color: #9b2422 !important;
}

.blue {
    color: #0c73f2 !important;
}

.orange {
    color: #d69d2a;
}

/*Iconos*/
.icon {
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

/*Limpieza*/
.clearfix{
    float: none;
    clear: both;
}

/*-------------------------------------------------*/

/*Cabecera*/
#cabecera{
    height: 250px;
    width: 100%;
}

#cabecera > #logotipo {
    padding-top: 20px;
    margin: auto;
    width: 770px;
}

#cabecera > #logotipo > img{
    display: block;
    margin: auto;
    text-align: center;
    width: 140px;
}

#cabecera > h1{
    display: table;
    font-size: 40px;
    font-family: "nevis", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin: auto;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}

#cabecera > h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#cabecera > h1 > a{
    color: #70b231;
    text-decoration: none;
}

/*-------------------------------------------------*/

/*Barra de navegacion*/
#nav {
    background-color: #333333;
    box-shadow: 0px 0px 2px grey;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    height: 40px;
    width: 100%;
}

#nav ul {
    margin: auto;
    list-style: none;
    text-decoration: none;
    width: 1130px;
}

#nav > ul > li {
    margin: auto;
    float: left;
    line-height: 38px;
}

#nav > ul > li:nth-child(1){
    border-left: 1px solid grey;
}

#nav > ul > li:nth-child(1),
#nav > ul > li:nth-child(2),
#nav > ul > li:nth-child(4),
#nav > ul > li:nth-child(5),
#nav > ul > li:nth-child(6),
#nav > ul > li:nth-child(9),
#nav > ul > li:nth-child(10){
    border-right: 1px solid grey;
}

#nav > ul > li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
    transition: all 300ms;
}

#nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1px 20px;
}

/*Menus desplegables*/
#nav > ul > li > ul {
    display: none;
    box-shadow: 0px 2px 2px grey;
    max-width: 160px;
    position: absolute;
    text-align: left;
    overflow-x: auto;
    z-index: 1;
}

#nav > ul > li:hover > ul {
    display: block;
}

#nav > ul > li > ul > li{
    background-color: #F2F1F0;
    border-bottom: 1px solid #D6D6D6;
    font-size: 14px;
    line-height: 25px;
}
#nav > ul > li > ul > li > a{
    color: #666666;
}

#nav > ul > li > ul > li:last-child {
    border-bottom: none;
}

#nav > ul > li > ul > li:hover {
    box-shadow: 0px 0px 6px #ccc inset;
    background-color: rgb(238, 237, 237);
    transition: all 350ms;
}

/*-------------------------------------------------*/

/*Contenido central*/
#contenido {
    margin: auto;
    min-height: 1100px;
    width: 1250px;
}


/*Barra lateral*/
#aside, #frase{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    font-family: sans-serif, Arial, Helvetica;
    float: left;
    margin: 30px;
    width: 200px;
}

#frase {
    font-size: 14px;
    font-family: sans-serif;
    padding: 10px;
    width: 180px;
}

#aside .widget{
    font-size: 14px;
    border-bottom: 1px dashed #333333;
    margin: 5px auto;
    padding: 8px 10px;
    width: 180px;
}

#aside .widget:last-child{
    border: none;
}

#aside h3{
    background-color: #f2f3f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333333;
    margin-bottom: 15px;
    padding: 2px 0px;
    text-align: center;
    width: 100%;
}

/*Barra lateral -> Formularios*/
#aside article label,
#aside article input[type="text"],
#aside article input[type="password"]{
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 95%;
}

#aside article a{
    display: inline-block;
    margin: auto;
}


#aside article input[type="submit"]{
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label {
    display: block;
    margin: auto;
    text-align: center;
}

#aside li {
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}


/*Contenido principal*/
#contenido-principal{
    float: right;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
    width: 75%;
}

#contenido-principal .titulo {
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    font-family: "fjalla";
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -20px;
    letter-spacing: 1px;
    padding: 20px 0px;
    text-align: center;
}

#contenido-principal .caja-contenido {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    margin-top: 40px;
    overflow: hidden;
    padding: 20px;
}

#contenido-principal .article {
    margin: 20px 10px;
}

.article .date {
    color: gray;
    font-size: 14px;
}

.caja-contenido .stickerOne,
.caja-contenido .stickerTwo
{
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

.caja-contenido .stickerTwo{
    margin-left: 860px;
}

/*-------------------------------------------------*/

/*Link inferior */
#history {
    float: right;
    font-family: sans-serif, Arial, Helvetica;
    margin-top: 20px;
    margin-right: 20px;
}

/*-------------------------------------------------*/

/*Footer*/
#footer {
    background-color: #333;
    box-shadow: 0px 0px 2px gray;
    color: white;
    margin: auto;
    margin-top: 40px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}